<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groot Store</title>
</head>
<body>
    <div>
        <header>
             <div class="header-Container">
                <div class="right-Header">
                    <h1 class="hader-Title">
                        دست‌سازه‌های گرووت
                    </h1>
                    <input type="search" class="product-Search-Input">
                </div>
                <div class="left-Header">
                   <div class="login-Singup"> <a href="#" class="login">ورود</a> / <a class="singup" href="#">ثبت نام</a></div>
                   <button class="cart">سبد خرید</button>
                </div>
            </div>
        </header>
    </div>
</body>
</html>