@font-face {
    font-family: "vazir";
    src: url(../font/Vazir.ttf);
}
html {
    font-family: 'vazir';
    background-color: #f5dbc3;
}
/* top header site */
.top-Header-Container ,
.bottom-Header-Container{
    display: flex;
    flex-wrap: wrap;
}
.bottom-Header-Container{
    margin-top: 1rem;
}
.left-Header ,
.right-Header {
    height: 5rem;
    
}
.right-Header {
    width: 80%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.left-Header {
    width: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
}


.hader-Title {
    margin: 2rem;
    margin-left: 2rem;
    font-size: 1.5rem;
}
.search-Btn,
.product-Search-Input {
    border: solid rgb(87, 46, 0) 1px;

}
.product-Search-Input {
    width: 70%;
    height: 3rem;
    padding-right: 1rem;
    border-left: none;
    border-radius: 0 7px 7px 0;
    
}
.product-Search-Input:focus,
.product-Search-Input:focus + .search-Btn {
    outline: none;
    background-color: #ebebeb;
}
.search-Btn:hover {
    padding: 8px;
}
.search-Btn {
    width: 3rem;
    height: 3rem;
    border-right: none;
    border-radius: 7px 0 0 7px;
    background-color: #ffffff00;
}


.login-Singup-Container {
    width: 7rem;
    height: 2.7rem;
    margin: 0 0 0 1rem ;
    border: solid #000 2px;
    border-radius: 5px;
    text-align: center;
    padding: .5rem 0 0 0;
    
}
.login,
.singup {
    text-decoration: none;
    color: #000;
}
.cart-Btn {
    width: 3.5rem;
    height: 3.5rem;
    margin: 1.5rem;
    border-radius: 2rem;
    background-color: #ffffff00;
    border: solid #ff5c5c 3px;
}
.cart-Btn:hover {
    width: 3.7rem;
    height: 3.7rem;
}
/* bottom header saite*/
.header-menu-container {
  display: flex;
  margin: .5rem;
}
.menu-Lines {
    width: 30px;
    height: 3px;
    background-color: #000;
    border-radius: 3px;
    margin: 0 1.5rem .3rem 0;
}
.menu-Box:hover .menu-Line2,
.menu-Box:hover .menu-Line3  {
    margin-top: 7px;
}
.menu-Title {
    margin: 0 1rem 0 2rem;
}
.header-List-Container {
   width: 60%;
    height: 3rem;

}
.header-List-Items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;

    
    
}
.header-List-Item {
    margin: .5rem 2rem 0 0;
    
}
.header-List-Item:hover {

 
    transition: all .07s;
    background-color: #eeeeeed5;
    margin-top: 0;
    padding: .3rem 1rem;
    border-radius: 5px;
    font-size: 1.1rem;
}
/* body saite */

.baner-Container {
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}
.baner-Img {
    border-radius: 1rem;
}
/* product box */
.product-Categorization-Box {
    width: 170px;
    height: 220px;
    text-align: center;
    padding: 10px;
    background-color: hsl(32, 26%, 55%);
    border-radius: 8px;

}
.category-Img {
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
    border-radius: 10px;
}