<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../assets/css/reset.css">    
    <link rel="stylesheet" href="../../assets/css/login-singup/login.css">

    <title>Document</title>
</head>
<body>
    <div action="#" id="container">
        <div class="login-Page">
            <form action="#" id="login-Form">
                <h2 id="form-Titr">ورود به حساب کاربری</h2>
                <div class="socialMedia-Icons-Container">
                    <a href="#" class="socialMedia-Icons"><img src="../../assets/img/icon/instagram-icon.png" alt="instagram-Icon" class="instagram-Icon socialMedia-Icon-Img"></a>
                    <a href="#" class="socialMedia-Icons"><img src="../../assets/img/icon/telegram-icon.png" alt="telegram-icon" class="instagram-Icon socialMedia-Icon-Img"></a>
                    <a href="#" class="socialMedia-Icons"><img src="../../assets/img/icon/whatsapp-icon.png" alt="whatsapp-icon" class="instagram-Icon socialMedia-Icon-Img"></a>
                </div>
                <input type="text" class="username-Input input">
                <input type="password" class="password-Input input">
                <div class="check-Conainer">
                    <input type="checkbox" class="rememberMe-Checkbox">
                    <span class="check-Text">رمز عبور مرا به خاطر بسپار</span>
                </div>
                <button class="btn login-btn">ورود</button>
                <button class="btn cancle-btn">بازگشت</button>
            </form>
        </div>
    </div>
</body>
</html>
