<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/login-singup/login.css">
    <title>Document</title>
</head>
<body>
    <div action="#" id="container">
        <section class="right-section">
            <form action="#" id="login-form">
                <input type="text" class="username-Input input">
                <input type="password" class="password-Input input">
                <div class="check-Conainer">
                    <input type="checkbox" class="rememberMe-Checkbox">
                    <span class="check-Text">رمز عبور مرا به خاطر بسپار</span>
                </div>
                <button class="btn login-btn">ورود</button>
                <button class="btn cancle-btn">بازگشت</button>
            </form>
        </section>
        <section class="left-section">

        </section>

    </div>
</body>
</html>